.main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 View user
            div.form-group
            label Id:
            span &nbsp;
            span= users.id
            div.form-group
            label Name:
            span &nbsp;
            span= users.name